In [1]:
# importing all the libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
def prepare_data(df,forecast_col,forecast_out,test_size):
    label = df[forecast_col].shift(-forecast_out) #creating new column called label with the last 5 rows are nan
    X = np.array(df[[forecast_col]]) #creating the feature array
    X = preprocessing.scale(X) #processing the feature array
    X_lately = X[-forecast_out:] #creating the column i want to use later in the predicting method
    X = X[:-forecast_out] # X that will contain the training and testing
    label.dropna(inplace=True) #dropping na values
    y = np.array(label)  # assigning Y
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) #cross validation

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

In [3]:
#defining dataset
df=pd.read_csv('AAPL.csv')
df=df[df.symbol == "AAPL"]

In [4]:
df.head()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,AAPL,2016-01-08 00:00:00+00:00,96.96,99.11,96.7600,98.55,70798016,22.454829,22.952744,22.408511,22.823055,283192064,0.0,1.0
1,AAPL,2016-01-11 00:00:00+00:00,98.53,99.06,97.3400,98.97,49739377,22.818423,22.941165,22.542833,22.920322,198957508,0.0,1.0
2,AAPL,2016-01-12 00:00:00+00:00,99.96,100.69,98.8399,100.55,49154227,23.149595,23.318654,22.890192,23.286232,196616908,0.0,1.0
3,AAPL,2016-01-13 00:00:00+00:00,97.39,101.19,97.3000,100.32,62439631,22.554412,23.434449,22.533569,23.232967,249758524,0.0,1.0
4,AAPL,2016-01-14 00:00:00+00:00,99.52,100.48,95.7400,97.96,63170127,23.047696,23.270021,22.172291,22.686417,252680508,0.0,1.0

In [5]:
# declairing Variable
forecast_col='close'
forecast_out=5
test_size=0.2

In [6]:
# calling the method
X_train,X_test,y_train,y_test,X_lately=prepare_data(df,forecast_col,forecast_out,test_size);

In [7]:
linear=LinearRegression() #Intializing Linear Regression model
linear.fit(X_train,y_train) # Fitting the model to the training data

LinearRegression()

In [8]:
score=linear.score(X_test,y_test) # testing the linear regression model
forecast=linear.predict(X_lately) # future forecast values
json={} ## Creating json
json['score']=score
json['forecast']=forecast
print(json)

{'score': 0.8969882928727511, 'forecast': array([137.68205625, 136.59260838, 135.61684204, 132.50954726,
       134.02530081])}